<h1 class="text-center bg-danger"> Witaj na stronie osoba</h1>

<a asp-controller="People" asp-action="ShowAllPersons">Pokaz wszystkie osoby</a> <br/>
<a asp-controller="People" asp-action="SearchPerson">Szukaj osoby</a>